// GRID
.row {
		@include display(flex);
		@include flex-direction(row);
		@include justify-content(center);
    @include align-items(center);
    @include align-self(center);
}
.col {
    @include display(flex);
    @include flex-direction(column);
    //@include justify-content(flex-start);
		//@include align-items(flex-start);
		//@include align-self(flex-start);
}
.center {
    @include justify-content(center);
		@include align-items(center);
		@include align-self(center);
}
.col-row {
	@include display(flex);
	@include flex-direction(column);
	width: 100%;
	max-width: 100%;
	@include mf-small {
		max-width: 75%;
	}
	@include mf-medium {
		@include flex-direction(row);
		max-width: 100%;
	}
}

//.s-col_l-row {
//    @include display(flex);
//    @include flex-direction(column);
//    @include justify-content(center);
//		@include align-items(center);
//		@include align-self(center);
//    width: 100%;
//
//    @include mf-large {
//        @include flex-direction(row);
//    }
//}

/* // SITE
////////////////////////////////////////////////////////////////////// */

// .site {
//   @include display(flex);
//   @include flex-direction(column);
//   @include align-items(stretch);
//   @include align-content(space-between);
//   margin: 0 auto;
//   width: 100%;
//   height: 100vh;
// 	.site-header {
// 	  @include display(flex);
// 	  @include flex-direction(row);
// 	  @include justify-content(space-between);
// 	  @include align-items(center);
// 	  @include flex(1 0 100);
// 	  width: 100%;
// 	  //margin-bottom: 0; // 60px without this - main container overflows the header
// 	  height: 100px;
// 	  min-height: 100px;
// 	}
// 	.site-container {
//     @include display(flex);
//   	@include flex-direction(column);
//   	@include align-self(space-between);
//   	@include align-content(center);
//   	@include align-items(center);
//   	@include flex(1 0 auto);
//   	width: 100%;
//   	margin: 0 auto;
//   	padding: 0;
// 	}
// }
// from holy grail
// TYPE
$font-primary: 'Myriad Pro', Roboto, Arial, sans-serif;
$font-secondary: 'Abril Fatface', cursive;
$font-size-normal: 16px 1.6rem; // and dropdown
$font-size-20: 20px 2rem;

//  COLORS - rename to primary etc
$primary: #ed6a5a; //rgba(237, 106, 90, 100)
$secondary: #f4f1bb; //rgba(244, 241, 187, 100)
$tertiary: #9bc1bc; //rgba(155, 193, 188, 100)
$quaternary: #5ca4a9; //rgba(92, 164, 169, 100)
$quinary: #e6ebe0; //rgba(230, 235, 224, 100)

.site {
	@include display(flex);
	@include flex-direction(column);
	height: 100vh;
	margin: 0 auto;
	@include justify-content(space-between);
	@include flex(1 1 auto);
	@include align-items(stretch);
}
.header-site {
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(space-between);
    @include align-items(center);
    @include flex(0 1 100);
    width: 100%;
    //margin-bottom: 0; // 60px without this - main container overflows the header
    height: 100px;
    min-height: 100px;
	// background-color: $quaternary;    
}

.container-main {
	@include display(flex);
	@include flex-direction(column);
	@include flex(1 0 auto);
	background-color: $secondary;
	//margin: 0 auto;
		@include mf-small {
			@include flex-direction(row);
			background-color: $tertiary;
		}
}
.nav-main,
.aside-main {
	@include flex(1 1 auto);
	padding:1em;
	min-width: 20%;
}
.nav-main {
	background-color: $tertiary;
}
.content {
    @include display(flex);
	@include flex(1 1 auto);
	@include flex-wrap(wrap);
	background-color: $quinary;
	padding:1em;
}
.aside-main {
	background-color: $tertiary;
}

.footer-site {
	@include flex(0 1 auto);
	// background-color: $primary;
	min-height: 60px;
	padding:1em;
}

.flex-container {
	@include display(flex);
	@include flex-wrap(wrap);
	@include flex(1 1 auto);
	background-color: $quinary;
	//padding:1em;
}
.flex-item {
	@include flex(1 0 45%);
	margin: 1em;
	padding:1em;
	background-color: $quaternary;
	color: white;
        @include mf-medium {
            @include flex(1 0 30%);
        }
}
.flex-item-full {
	@include display(flex);
    @include justify-content(center);
    @include flex(1 1 100%);
	padding:1em;
	margin: 1em;
    
    background-color: #666;
}

// AJDUSMENTS
.s-row-center {
	@include display(flex);
	margin: 0 auto;
    background-color: #333;
}














// WIDTHS AND HEIGHTS
.fit         { max-width: 100%; }
.half-width  { width: 50% }
.full-width  { width: 100%; }
.full-height { height: 100%; }

// POSITION AND Z-INDEX
.fixed    { position: fixed; }
.relative { position: relative; }
.absolute { position: absolute; }
.static   { position: static; }

.zindex-1 { z-index: 1; }
.zindex-2 { z-index: 2; }
.zindex-3 { z-index: 3; }

.pin-top-right {
    top: 0;
    right: 0;
}

.pin-bottom-right {
    bottom: 0;
    right: 0;
}

// DISPLAY
.inline       { display: inline; }
.block        { display: block; }
.inline-block { display: inline-block; }
.hide         { display: none; }
.flex         { display: flex; }

// VISIBILITY
.hide-on-small { display: none; }
.show-in-large { display: block; }

// ALIGNMENTS

.s-align-center {

}
.l-align-left {

}
  /* // MARGINS
  ////////////////////////////////////////////////////////////////////// */

  // MARGINS ALL
  .mrg--50 {
  	margin: -50px;
  }
  .mrg--40 {
  	margin: -40px;
  }
  .mrg--30 {
  	margin: -30px;
  }
  .mrg--20 {
  	margin: -20px;
  }
  .mrg--10 {
  	margin: -10px;
  }
  .mrg-0 {
  	margin: 0;
  }
  .mrg-10 {
  	margin: 10px;
  }
  .mrg-20 {
  	margin: 20px;
  }
  .mrg-30 {
  	margin: 30px;
  }
  .mrg-40 {
  	margin: 40px;
  }
  .mrg-50 {
  	margin: 50px;
  }
  // MARGINS TOP
  .mrg-top--50 {
  	margin-top: -50px;
  }
  .mrg-top--40 {
  	margin-top: -40px;
  }
  .mrg-top--30 {
  	margin-top: -30px;
  }
  .mrg-top--20 {
  	margin-top: -20px;
  }
  .mrg-top--10 {
  	margin-top: -10px;
  }
  .mrg-top-0 {
  	margin-top: 0;
  }
  .mrg-top-10 {
  	margin-top: 10px;
  }
  .mrg-top-20 {
  	margin-top: 20px;
  }
  .mrg-top-30 {
  	margin-top: 30px;
  }
  .mrg-top-40 {
  	margin-top: 40px;
  }
  .mrg-top-50 {
  	margin-top: 50px;
  }

  // MARGINS RIGHT
  .mrg-right--50 {
  	margin-right: -50px;
  }
  .mrg-right--40 {
  	margin-right: -40px;
  }
  .mrg-right--30 {
  	margin-right: -30px;
  }
  .mrg-right--20 {
  	margin-right: -20px;
  }
  .mrg-right--10 {
  	margin-right: -10px;
  }
  .mrg-right-0 {
  	margin-right: 0;
  }
  .mrg-right-10 {
  	margin-right: 10px;
  }
  .mrg-right-20 {
  	margin-right: 20px;
  }
  .mrg-right-30 {
  	margin-right: 30px;
  }
  .mrg-right-40 {
  	margin-right: 40px;
  }
  .mrg-right-50 {
  	margin-right: 50px;
  }

  // MARGINS BOTTOM
  .mrg-btm--50 {
  	margin-bottom: -50px;
  }
  .mrg-btm--40 {
  	margin-bottom: -40px;
  }
  .mrg-btm--30 {
	margin-bottom: -30px;
  }
  .mrg-btm--20 {
	margin-bottom: -20px;
  }
  .mrg-btm--10 {
  	margin-bottom: -10px;
  }
  .mrg-btm-0 {
  	margin-bottom: 0;
  }
  .mrg-btm-10 {
  	margin-bottom: 10px;
  }
  .mrg-btm-20 {
  	margin-bottom: 20px;
  }
  .mrg-btm-30 {
  	margin-bottom: 30px;
  }
  .mrg-btm-40 {
  	margin-bottom: 40px;
  }
  .mrg-btm-50 {
  	margin-bottom: 50px;
  }

  // MARGINS LEFT
  .mrg-left--50 {
  	margin-left: -50px;
  }
  .mrg-left--40 {
  	margin-left: -40px;
  }
  .mrg-left--30 {
	margin-left: -30px;
  }
  .mrg-left--20 {
	margin-left: -20px;
  }
  .mrg-left--10 {
  	margin-left: -10px;
  }
  .mrg-left-0 {
  	margin-left: 0;
  }
  .mrg-left-10 {
  	margin-left: 10px;
  }
  .mrg-left-20 {
  	margin-left: 20px;
  }
  .mrg-left-30 {
  	margin-left: 30px;
  }
  .mrg-left-40 {
  	margin-left: 40px;
  }
  .mrg-left-50 {
  	margin-left: 50px;
  }

    /* // PADDINGS
  ////////////////////////////////////////////////////////////////////// */

  // PADDINGS ALL
  .pdg--50 {
  	padding: -50px;
  }
  .pdg--40 {
  	padding: -40px;
  }
  .pdg--30 {
  	padding: -30px;
  }
  .pdg--20 {
  	padding: -20px;
  }
  .pdg--10 {
  	padding: -10px;
  }
  .pdg-0 {
  	padding: 0;
  }
  .pdg-10 {
  	padding: 10px;
  }
  .pdg-20 {
  	padding: 20px;
  }
  .pdg-30 {
  	padding: 30px;
  }
  .pdg-40 {
  	padding: 40px;
  }
  .pdg-50 {
  	padding: 50px;
  }
  // PADDINGS TOP
  .pdg-top--50 {
  	padding-top: -50px;
  }
  .pdg-top--40 {
  	padding-top: -40px;
  }
  .pdg-top--30 {
  	padding-top: -30px;
  }
  .pdg-top--20 {
  	padding-top: -20px;
  }
  .pdg-top--10 {
  	padding-top: -10px;
  }
  .pdg-top-0 {
  	padding-top: 0;
  }
  .pdg-top-10 {
  	padding-top: 10px;
  }
  .pdg-top-20 {
  	padding-top: 20px;
  }
  .pdg-top-30 {
  	padding-top: 30px;
  }
  .pdg-top-40 {
  	padding-top: 40px;
  }
  .pdg-top-50 {
  	padding-top: 50px;
  }

  // PADDINGS RIGHT
  .pdg-right--50 {
  	padding-right: -50px;
  }
  .pdg-right--40 {
  	padding-right: -40px;
  }
  .pdg-right--30 {
  	padding-right: -30px;
  }
  .pdg-right--20 {
  	padding-right: -20px;
  }
  .pdg-right--10 {
  	padding-right: -10px;
  }
  .pdg-right-0 {
  	padding-right: 0;
  }
  .pdg-right-10 {
  	padding-right: 10px;
  }
  .pdg-right-20 {
  	padding-right: 20px;
  }
  .pdg-right-30 {
  	padding-right: 30px;
  }
  .pdg-right-40 {
  	padding-right: 40px;
  }
  .pdg-right-50 {
  	padding-right: 50px;
  }

  // PADDINGS BOTTOM
  .pdg-btm--50 {
  	padding-bottom: -50px;
  }
  .pdg-btm--40 {
  	padding-bottom: -40px;
  }
  .pdg-btm--30 {
	padding-bottom: -30px;
  }
  .pdg-btm--20 {
	padding-bottom: -20px;
  }
  .pdg-btm--10 {
  	padding-bottom: -10px;
  }
  .pdg-btm-0 {
  	padding-bottom: 0;
  }
  .pdg-btm-10 {
  	padding-bottom: 10px;
  }
  .pdg-btm-20 {
  	padding-bottom: 20px;
  }
  .pdg-btm-30 {
  	padding-bottom: 30px;
  }
  .pdg-btm-40 {
  	padding-bottom: 40px;
  }
  .pdg-btm-50 {
  	padding-bottom: 50px;
  }

  // PADDINGS LEFT
  .pdg-left--50 {
  	padding-left: -50px;
  }
  .pdg-left--40 {
  	padding-left: -40px;
  }
  .pdg-left--30 {
	padding-left: -30px;
  }
  .pdg-left--20 {
	padding-left: -20px;
  }
  .pdg-left--10 {
  	padding-left: -10px;
  }
  .pdg-left-0 {
  	padding-left: 0;
  }
  .pdg-left-10 {
  	padding-left: 10px;
  }
  .pdg-left-20 {
  	padding-left: 20px;
  }
  .pdg-left-30 {
  	padding-left: 30px;
  }
  .pdg-left-40 {
  	padding-left: 40px;
  }
  .pdg-left-50 {
  	padding-left: 50px;
  }

.pad-1 { padding: .5em; }
.pad-1-left { padding-left: .5em; }
.pad-1-right { padding-right: .5em; }
.pad-1-top { padding-top: .5em; }
.pad-1-bottom { padding-bottom: .5em; }
.pad-1-sides { padding-left: .5em; padding-right: .5em; }
.pad-1-vert { padding-top: .5em; padding-bottom: .5em; }
.pad-2 { padding: 1em; }
.pad-2-left { padding-left: 1em; }
.pad-2-sides { padding-left: 1em; padding-right: 1em; }
