in// Backgrounds
.bg-white         { background-color: $white; }
.bg-off-white     { background-color: $off-white; }
.bg-gray          { background-color: $gray; }
.bg-gray-tint     { background-color: $gray-tint; }
.bg-gray-shade    { background-color: $gray-shade; }
.bg-gray-333      { background-color: $gray-333; }

.bg-notice        { background-color: $notice; }
.bg-success       { background-color: $success; }
.bg-alert         { background-color: $alert; }