// BORDERS 1PX
.border-white    { border:        1px solid $white; }
.border-top-white    { border-top:    1px solid $white; }
.border-bottom-white { border-bottom: 1px solid $white; }
.border-right-white  { border-right:  1px solid $white; }
.border-left-white   { border-left:   1px solid $white; }

.border-off-white    { border:        1px solid $off-white; }
.border-top-off-white    { border-top:    1px solid $off-white; }
.border-bottom-off-white { border-bottom: 1px solid $off-white; }
.border-right-off-white  { border-right:  1px solid $off-white; }
.border-left-off-white   { border-left:   1px solid $off-white; }

.border-gray    { border:        1px solid $gray; }
.border-top-gray    { border-top:    1px solid $gray; }
.border-bottom-gray { border-bottom: 1px solid $gray; }
.border-right-gray  { border-right:  1px solid $gray; }
.border-left-gray   { border-left:   1px solid $gray; }

.border-gray-333    { border:        1px solid $gray-333; }
.border-top-gray-333    { border-top:    1px solid $gray-333; }
.border-bottom-gray-333 { border-bottom: 1px solid $gray-333; }
.border-right-gray-333  { border-right:  1px solid $gray-333; }
.border-left-gray-333   { border-left:   1px solid $gray-333; }

.border-primary    { border:        1px solid $primary; }
.border-top-primary    { border-top:    1px solid $primary; }
.border-bottom-primary { border-bottom: 1px solid $primary; }
.border-right-primary  { border-right:  1px solid $primary; }
.border-left-primary   { border-left:   1px solid $primary; }

.border-secondary    { border:        1px solid $secondary; }
.border-top-secondary    { border-top:    1px solid $secondary; }
.border-bottom-secondary { border-bottom: 1px solid $secondary; }
.border-right-secondary  { border-right:  1px solid $secondary; }
.border-left-secondary   { border-left:   1px solid $secondary; }

/* BORDERS 2PX
////////////////////////////////////////////////////////////////////// */

.border-white-2    { border:        2px solid $white; }
.border-top-white-2    { border-top:    2px solid $white; }
.border-bottom-white-2 { border-bottom: 2px solid $white; }
.border-right-white-2  { border-right:  2px solid $white; }
.border-left-white-2   { border-left:   2px solid $white; }
