// APP SPECIFIC
$primary: #fe5f55; //rgba(254, 95, 85, 100)
$primary-tint: lighten($primary, 10%);
$primary-shade: darken($primary, 10%);

$secondary: #c7efcf; //rgba(199, 239, 207, 100)
$secondary-tint: lighten($secondary, 10%);
$secondary-shade: darken($secondary, 10%);

 // BASIC
$black     :   #000;
$white     :   #fff;
$off-white :   #f1f1f1;
$gray      :   #666;
$gray-tint: lighten($gray, 10%);
$gray-shade: darken($gray, 10%);
$gray-333 :   #333;



$notice    :   #3498db;
$success   :   #1abc9c;
$alert     :   #e74c3c;
