*, *:before, *:after, *::before, *::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}
body {
	color: $gray;
	font-family: $font-primary;
	font-size: 16px; font-size: 1.6rem;
	letter-spacing: 0.1rem;
	line-height: 1.6;
    // margin: 0 auto;
    // min-height: 100vh;
    // padding: 0;
    // width: 100%;
}

h1, h2, h3, h4, h5 {
	font-family: $font-secondary;
	font-weight: normal;
}
h1 {
	font-size: 55px; font-size: 5.5rem;
	letter-spacing: 0.2rem;
	line-height: 1;
}
h2 {
	font-size: 35px; font-size: 3.5rem;
}
h3 {
	font-size: 25px; font-size: 2.5rem;
}

a {
	color: #f1f1f1;
	text-decoration: none;
	text-transform: uppercase;
	&:hover {
		@include transition(all 0.3 ease);
		color: white;
	}
}

input,
select,
option {
	color: $gray;
}

button,
.btn {
@include transition(all 0.3s ease);
  border-radius: 2px;
  cursor: pointer;
  border: 0 solid;
  overflow: hidden;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 500;
  background-color: $secondary;
  color: white;
  border: 1px solid darken($secondary, 10%);
  border-top: 0;
  border-left: 0;
  padding: 8px 20px 2px;
  font-size: 15px; font-size: 1.5rem;
//  font-weight: 500;
  &:not([disabled]):hover {
    background-color: lighten($secondary, 5%);
    border: 1px solid lighten($secondary, 10%);
    border-top: 0;
    border-left: 0;
  }
  &:not(.disabled):active {
    background-color: darken($secondary, 5%);
    border: 1px solid darken($secondary, 10%);
    border-top: 0;
    border-left: 0;
  }
}

// TYPOGRAPHY

// COLORS
.text-primary {
	color: $primary;
}
.text-secondary {
	color: $secondary;
}

// POSITIONING
.text-center {
	text-align: center;
}
.hamburger {
	width: 50px;
	height: 5px;
	background-color: blue;
	padding: 3px 0;
	margin: 3px 0;
	border-top: 5px solid #fff;
	border-bottom: 5px solid #fff;
}
