// TYPE
$font-primary: 'Myriad Pro', Roboto, Arial, sans-serif;
$font-secondary: 'Abril Fatface', cursive;
$font-size-normal: 16px 1.6rem;
$font-size-20: 20px 2rem;

// ALIGNMENTS
.text-left   { text-align: left; }
.text-right  { text-align: right; }
.text-center { text-align: center; }

.bold     { font-weight: bold; }
.regular  { font-weight: normal; }
.italic   { font-style: italic; }

.text-small {
  font-size: 14px 1.4rem;
}
.text-normal {
  font-size: $font-size-normal;
}
.text-big {
  font-size: 18px 1.8rem;
}
.text-big-2 {
  font-size: 20px 2rem;
}

.ell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.break-word { word-wrap: break-word; }
.no-wrap    { white-space: nowrap; }

// Colors
.white            { color: $white; }
.off-white            { color: $off-white; }
.gray             { color: $gray; }
.dark-gray        { color: $gray-333; }

.notice           { color: $notice; }
.success          { color: $success; }
.alert            { color: $alert; }
